
{% extends "base_auth.html" %}

{% load static %}

{% block title %}Reset Password{% endblock %}

{% block head_css %}

    <link href="{% static 'assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

    <div class="row no-gutters">
        <div class="col-xl-12">
            <div class="auth-form">

                <div class="text-center mb-3">
                    <a href="#"><img src="{% static 'assets/images/icons8-small-business-96.png' %}" alt="Ethikdo Logo"></a>
                </div>

                <h4 class="text-center mb-4 text-white">Sign up your account</h4>

                    {% if messages %}
                        {% for message in messages %}
                        <div style="text-align: center;" {% if message.tags == 'warning' %} class="alert alert-danger solid alert-dismissible fade show" {% else %} class="alert alert-{{ message.tags }} solid alert-dismissible fade show" {% endif %} role="alert">
                            {{ message|safe }}
                            <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    {% endif %}

                <div class="p-1 mt-4">
                    <div class="alert text-center mb-4" style="background-color: #e8ecf5; color: black;" role="alert">
                        <br/>
                        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                        <br/>
                        <br/>
                        If you have not received an email, please make sure you've entered the address you registered with, and check your spam folder.
                        <br/>
                        <br/>
                        <br/>
                    </div>

                </div>

            </div>
        </div>
    </div>

    {% block javascript %}
    {% endblock %}

{% endblock %}
    

                        